<script>
    async function getData() {
    const url = "https://fictional-chainsaw-5p9rp7r6gx537xq9-3000.app.github.dev/pokes/";
    try {
      const response = await fetch(url);
      if (!response.ok) {
        throw new Error(`Response status: ${response.status}`);
      }
  
      const json = await response.json();
      document.getElementById("output-area").innerText = JSON.stringify(json);
    } catch (error) {
      console.error(error.message);
    }
  }
</script>
<body onload="getData();">
    <h1>Hello world</h1>
    <p id = "output-area"></p>
</body>